.banner {
  background: url('https://images.pexels.com/photos/1428348/pexels-photo-1428348.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')
    center center;
  /* height: 400px; */
  position: relative;
  background-size: cover;
}
.banner-info {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 34px;
  width: 300px;
  height: cover;
}
.banner-info > Button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}
.banner-info > h5 {
  margin-top: 10px;
}
.banner-info > button:hover {
  background-color: white;
  color: #ff7779;
}
.banner_searchButton {
  background-color: white !important;
  color: #ff7779 !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
}
.banner_search {
  display: flex;
  flex-direction: column;
}
