.searchResult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  opacity: 1;
  cursor: pointer;
}
.searchResult:hover {
  opacity: 0.8;
}
.searchResult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}
.searchResult_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
.searchResult_heart {
  position: absolute;
  top: 20px;
  right: 40px;
}
.searchResult_info {
  width: 40vw;
}
.searchResult_info > h3 {
  font-weight: 300;
  margin-top: 10px;
}
.searchResult_info > button {
  border-radius: 30px;
  text-decoration: inherit;
  margin: 5px;
}
.searchResult_infoTop > p {
  color: gray;
  font-size: 13px;
  margin-top: 10px;
}
.searchResult_infoBottom {
  display: flex;
  justify-content: space-between;
}
.searchResult_stars {
  display: flex;
  flex-direction: column;
}
.stars {
  color: red;
}

.searchResult_price > p {
  text-align: right;
}
.searchResult_price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
